<h3>Welcome <%#= current_admin.name %>: admin name</h3>

<%= button_to "Log Out", sessions_path, method: :delete %>
<%= render "form" %>

<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <p class="error"> <%= error %> </p>
  <% end %>
<% end %>
