<div class="row log_out">
<%= button_to "Log Out", sessions_path, method: :delete , class: 'btn btn-danger'%>
</div>
<h3><%= current_admin.name %>: admin</h3>

<%= render "form" %>

<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <p class="error"> <%= error %> </p>
  <% end %>
<% end %>
