// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#log_in, #sign_up, #admin{
  margin: 5% auto;
  text-align: center;
  width: 50%;
}
.form {
  width: 100%
}
