/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   background-image: url('http://eskipaper.com/images/cool-light-green-wallpaper-2.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Cinzel', serif;
   min-height: 100vh;
 }
 span {
   font-family: 'Permanent Marker', cursive;
 }
 span.dollar, span.price{
   font-family: 'Cinzel', serif;
 }

#parties, .create,{
  margin: 0 auto;
  text-align: center;
  width: 70%%;
}
img {
  width: 60px;
  height: 40px;
}

#logo {
  padding: 0;
  width: 40px;
  height: 25px;
  float: right;
}

.edit_mode{
  margin: 0 auto;
  text-align: center;

}
.inside {
  text-align: left;
}
th {
  text-align: center;
}

#euro, #us{
  font-size: 2em;
}
#us{
  display: none;
}
