// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#weclome {
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
}
.btn {
  width: 150px;
  margin: 2px;
}
span {
  font-family: 'Permanent Marker', cursive;
  
}
